# Entorno virtual
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
*.log

# Streamlit
.streamlit/

# VS Code
.vscode/
*.code-workspace

# Sistema
.DS_Store
Thumbs.db